* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.no-display {
  display: none;
}

h2 {
  font-family: "hindregular", sans-serif;
  color: #214957;
}

*:not(h2, .target-job) {
  font-family: "rajdhaniregular", sans-serif;
}

@font-face {
  font-family: "rajdhaniregular";
  src: url("../assets/font/rajdhani-regular-webfont.woff2") format("woff2"), url("../assets/font/rajdhani-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hindregular";
  src: url("../assets/font/hind-regular-webfont.woff2") format("woff2"), url("../assets/font/hind-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global CSS ********************************************************************************************************/
.main-aside {
  width: 25%;
  height: 100vh;
  background-color: #0a2239;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 0;
}

.main-article {
  width: 75%;
  height: 100vh;
}

/* Header CSS ************************************************************************************************************/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 23vh;
}

.identity {
  width: 60%;
  padding-left: 50px;
}

.title-name {
  font-size: 55px;
}

.target-job {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}

.contact-details {
  width: 40%;
}

.contact-details li {
  padding: 5px 0;
  font-size: 20px;
}

li span {
  width: 24px;
  height: 24px;
  transform: translate(-10px);
}

/* Section Formation CSS *******************************************************************************************************/
.section-formation,
.section-experience {
  width: 95%;
  height: auto;
  margin: auto;
  padding: 0 20px 20px 20px;
  margin-top: 30px;
  border-top: 1px solid black;
}

.head-section {
  background-color: white;
  font-size: 32px;
  display: inline-block;
  padding: 0 15px;
  transform: translateY(-30px);
}

.formation,
.experience {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 15px;
}

.label {
  width: 35%;
}

h3 {
  padding-top: 10px;
  font-size: 20px;
}

.content-label {
  width: 65%;
  font-size: 20px;
  border-left: 1px solid black;
  padding-left: 25px;
  min-height: 90px;
}

/* Aside CSS **********************************************************************************************************************/
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  width: 45%;
  border-radius: 50%;
  border: 5px solid white;
}

.aside-section {
  padding: 10px 30px;
}

.description,
.aside-section ul li {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.aside-section ul li span {
  padding-left: 10px;
  margin-right: 5px;
}

.aside-section:nth-child(4) ul li::before {
  content: "-";
  margin-right: 10px;
}

.title-description {
  margin-bottom: 10px;
  font-size: 22px;
  color: #53a2be;
}

@media screen and (max-width: 798px) {
  body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  /* Global CSS ********************************************************************************************************/
  .main-aside {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    order: 2;
  }

  .main-article {
    width: 100%;
    height: auto;
    order: 1;
  }

  /* Header CSS ************************************************************************************************************/
  header {
    width: 100%;
    height: 28vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5%;
  }

  .identity {
    padding-left: 30%;
  }

  .title-name {
    font-size: 24px;
  }

  .target-job {
    font-size: 18px;
  }

  .contact-details li {
    font-size: 14px;
  }

  /* Section Formation CSS *******************************************************************************************************/
  .section-formation,
.section-experience {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .head-section {
    font-size: 25px;
    transform: translateY(-10px);
  }

  .formation,
.experience {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 25px;
  }

  .label {
    width: 35%;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  .content-label {
    font-size: 16px;
    min-height: 90px;
  }

  /* Aside CSS **********************************************************************************************************************/
  .picture {
    display: inline-block;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  img {
    width: 25%;
  }

  .mobile-position {
    position: absolute;
    top: 18%;
    left: 2%;
    color: #0a2239;
  }

  .aside-section {
    padding: 10px 10px;
  }

  .description,
.aside-section ul li {
    font-size: 12px;
  }

  .title-description {
    font-size: 12px;
    color: #53a2be;
  }
}
@media screen and (max-width: 650px) {
  body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  /* Global CSS ********************************************************************************************************/
  aside.main-aside {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 0;
  }

  .main-article {
    width: 100%;
    height: auto;
  }

  /* Header CSS ************************************************************************************************************/
  header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5%;
  }

  .identity {
    padding-left: 25%;
  }

  .title-name {
    font-size: 16px;
  }

  .target-job {
    font-size: 14px;
  }

  .contact-details li {
    font-size: 10px;
    margin-left: 10px;
    height: 25px;
  }

  li span {
    margin: 0;
    padding: 0;
    width: 5px;
  }

  /* Section Formation CSS *******************************************************************************************************/
  .section-formation,
.section-experience {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .head-section {
    font-size: 25px;
    transform: translateY(-15px);
  }

  .formation,
.experience {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 25px;
  }

  .label {
    width: 35%;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 12px;
  }

  .content-label {
    font-size: 12px;
    min-height: 90px;
  }

  /* Aside CSS **********************************************************************************************************************/
  .picture {
    top: 1%;
    left: 2%;
  }

  img {
    width: 20%;
  }

  section.aside-section {
    width: 33%;
    height: 182px;
  }

  section.mobile-position {
    top: 11%;
    left: 2%;
    color: #0a2239;
    width: 100%;
  }

  .description,
.aside-section ul li {
    font-size: 12px;
  }

  .title-description {
    font-size: 12px;
    color: #53a2be;
  }
}
@media print {
  /*GLOBAL CSS ***********************************************************************************************/
  .main-aside {
    width: 35%;
  }

  .main-article {
    width: 65%;
    height: 100vh;
  }

  /* Header CSS ************************************************************************************************************/
  .identity {
    width: 50%;
    padding-left: 35px;
  }

  .contact-details {
    width: 50%;
  }

  .contact-details li {
    padding: 5px 0;
    font-size: 12px;
  }

  .title-name {
    font-size: 25px;
  }

  .target-job {
    font-size: 16px;
    padding-right: 30px;
  }

  /* Section Formation CSS *******************************************************************************************************/
  .head-section {
    font-size: 25px;
    transform: translateY(-10px);
  }

  .section-formation,
.section-experience {
    padding: 0 0 0 25px;
    margin-top: 0;
  }

  .section-formation {
    margin-bottom: 50px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .content-label {
    font-size: 15px;
  }

  .title-description {
    font-size: 18px;
  }

  .aside-section ul li,
.description {
    font-size: 14px;
  }

  img {
    width: 55%;
  }

  a {
    padding-bottom: 10px;
    display: block;
  }

  .linkedin::after {
    content: ": https://www.linkedin.com/in/christopher-petitcolas-46410b1a9";
  }

  .github::after {
    content: ": https://github.com/Chris5477";
  }

  .twitter::after {
    content: ": https://twitter.com/DevCP6";
  }
}

/*# sourceMappingURL=main.css.map */
