/* Global CSS ********************************************************************************************************/

.main-aside {
	width: 25%;
	height: 100vh;
	background-color: $aside-color;
	color: white;
	@include flexbox(space-evenly, center);
	flex-direction: column;
}

.main-article {
	width: 75%;
	height: 100vh;
}

/* Header CSS ************************************************************************************************************/

header {
	@include flexbox(space-around, center);
	height: 23vh;
}

.identity {
	width: 60%;
	padding-left: 50px;
}

.title-name {
	font-size: 55px;
}

.target-job {
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}

.contact-details {
	width: 40%;
}

.contact-details li {
	padding: 5px 10px;
	font-size: 20px;
}

li span {
	width: 24px;
	height: 24px;
	transform: translate(-10px);
}

/* Section Formation CSS *******************************************************************************************************/
.section-formation,
.section-experience {
	width: 95%;
	height: auto;
	margin: auto;
	padding: 0 20px 20px 20px;
	margin-top: 30px;
	border-top: 3px solid black;
}

.head-section {
	background-color: white;
	font-size: 40px;
	display: inline-block;
	padding: 0 15px;
	transform: translateY(-30px);
}

.formation,
.experience {
	@include flexbox(space-around, flex-start);
	padding-top: 25px;
}

.label {
	width: 35%;
}

h3 {
	padding-top: 10px;
	font-size: 20px;
}

.content-label {
	width: 65%;
	font-size: 20px;
	border-left: 2px solid black;
	padding-left: 25px;
}
/* Aside CSS **********************************************************************************************************************/

.picture {
	@include flexbox(center, center);
	width: 100%;
}

img {
	width: 70%;
	border-radius: 50%;
	border: 2px solid white;
}

.aside-section {
	padding: 10px 30px;
}
