/* Global CSS ********************************************************************************************************/

.main-aside {
	width: 20%;
	height: 100vh;
	background-color: $aside-color;
	color: white;
	@include flexbox(space-between, flex-start);
	flex-direction: column;
	padding: 30px 0;
}

.main-article {
	width: 80%;
	height: 100vh;
}

/* Header CSS ************************************************************************************************************/

header {
	@include flexbox(space-between, center);
	height: 23vh;
	width: 100%;
}

.identity {
	width: 30%;
	padding-left: 150px;
}

.title-name {
	font-size: 45px;
}

.target-job {
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}

.contact {
	display: flex;
	width: 80%;
	margin-left: 50px;
}

.contact-details {
	width: 55%;
}

.social-network {
	width: 40%;
}
.contact-details,
li,
.social-network,
li {
	font-size: 20px;
	margin-bottom: 9px;
	font-weight: 600;
}

header ul li span {
	margin-right: 15px;
	width: 15px;
}

/* Section Formation CSS *******************************************************************************************************/
.section-formation,
.section-experience {
	width: 95%;
	height: auto;
	margin: auto;
	padding: 0 20px 20px 20px;
	margin-top: 30px;
	border-top: 1px solid black;
}

.head-section {
	background-color: white;
	font-size: 32px;
	display: inline-block;
	padding: 0 15px;
	transform: translateY(-20px);
}

.formation,
.experience {
	@include flexbox(space-around, flex-start);
	padding-top: 15px;
}

.label {
	width: 35%;
}

h3 {
	padding-top: 10px;
	font-size: 22px;
}

.content-label {
	width: 65%;
	border-left: 1px solid black;
	padding-left: 25px;
	min-height: 90px;
}

.content-label ul li {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
}

/* Aside CSS **********************************************************************************************************************/

.profil-picture {
	width: 11%;
	border-radius: 50%;
	border: 4px solid white;
	position: absolute;
	top: 2%;
	left: 15%;
}

.aside-section {
	padding: 10px 80px 10px 20px;
}

.description,
.aside-section ul li {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 0;
}

.aside-section ul li span {
	padding-left: 10px;
	margin-right: 5px;
	width: 35px;
}

.logo {
	width: 20px;
	height: 20px;
}

.title-description {
	margin-bottom: 10px;
	font-size: 22px;
	color: $subtitle-color;
}
