@media print {
	/* Global CSS ********************************************************************************************************/

	.main-aside {
		width: 24%;
	}

	.main-article {
		width: 76%;
	}

	/* Header CSS ************************************************************************************************************/

	header {
		@include flexbox(center, center);
		height: 18vh;
	}

	.identity {
		width: 50%;
		padding-left: 100px;
		.title-name {
			font-size: 32px;
		}

		.target-job {
			font-size: 18px;
		}
	}

	.contact {
		flex-direction: column;
		width: 50%;
		margin-left: 10px;
		margin-top: 20px;
	}

	.contact-details,
	.social-network {
		width: 100%;
		font-weight: 400;
	}

	.contact-details,
	li,
	.social-network,
	li {
		font-size: 14px;
		margin-bottom: 5px;
	}

	/* Section Formation CSS *******************************************************************************************************/
	.section-formation,
	.section-experience {
		padding: 0 10px 20px 10px;
	}

	.head-section {
		font-size: 26px;
	}

	.label {
		h2 {
			font-size: 22px;
		}
		h3 {
			font-weight: bold;
			font-size: 16px;
		}
	}

	.content-label ul li {
		font-size: 16px;
		margin-bottom: 5px;
	}

	/* Aside CSS **********************************************************************************************************************/

	.profil-picture {
		width: 15%;
		top: 3%;
		left: 21%;
	}

	.aside-section {
		padding: 10px 25px 10px 25px;
		.title-description {
			margin-bottom: 10px;
			font-size: 18px;
		}
	}

	.description,
	.aside-section ul li {
		font-size: 16px;
		margin-bottom: 2px;
	}

	.linkedin::after {
		content: " : christopher petitcolas";
	}
	.github::after {
		content: " : Chris5477";
	}
	.twitter::after {
		content: " : DevCP6";
	}
}
